<h1>CookBook</h1>
<p>Bem-vindo ao maior livro de receitas online</p>

<%= link_to 'Enviar uma receita', new_recipe_path %>

<% @cuisines.each do |cuisine| %>
  <ul>
    <li><%= link_to cuisine.name, cuisine_path(cuisine) %></li>
  </ul>
<% end %>

<% @recipes.each do |recipe| %>
  <h1><%= link_to recipe.title, recipe_path(recipe) %></h1>
  <ul>
    <li><%= recipe.recipe_type.name %></li>
    <li><%= recipe.cuisine.name %></li>
    <li><%= recipe.difficulty %></li>
    <li><%= recipe.cook_time %> minutos</li>
  </ul>s
<% end %>

  <%@recipe_types.each do |type|%>
    <h1><%=link_to type.name, recipe_type_path(type)%></h1>
  <%end%>
<%=link_to "Cadastrar Cozinha", new_cuisine_path %>
