<h1>CookBook</h1>
<p>Bem-vindo ao maior livro de receitas online</p>

<%= link_to 'Enviar uma receita', new_recipe_path %>

<% @cuisines.each do |c| %>
  <ul>
    <li><%= link_to c.name, cuisine_path(c.id) %></li>
  </ul>
<% end %>

<% @recipes.each do |r| %>
  <h1><%= link_to r.title, recipe_path(r.id) %></h1>
  <ul>
    <li><%= r.recipe_type %></li>
    <li><%= link_to r.cuisine.name, cuisine_path(r.cuisine.id) %></li>
    <li><%= r.difficulty %></li>
    <li><%= r.cook_time %> minutos</li>
  </ul>
<% end %>
